body{
    background-color: rgb(255, 249, 249);
}

.contenido{
    width: 300px;
    box-shadow: 10px 10px 10px rgb(227, 251, 255);
}

.font{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.logo{
    height: 200px;
    width: 200px;
    margin:50px;
    margin-left: 16%;
    border-radius: 20%;
    box-shadow: 2px 2px 7px rgb(255, 255, 255);
}